@import "variables"

.page--contacts
  width: 765px
  margin: 0 auto
  margin-bottom: 50px
  @media screen and (max-width: 750px)
    width: 100%
  .title
    width: 100%
    font-size: 24px
    font-weight: 700
    margin-bottom: 20px
  .address
    width: 100%
    font-size: 72px
    font-weight: 700
    margin-bottom: 20px
  .contacts
    p
      display: block
      width: 50%
      font-size: 22px
      &:last-child
        text-align: right

