@import "variables"

.sale
  &--catalog
    background-color: $white
    color: $black
    margin-top: 50px
  &--banner
    width: 100%
    height: 400px
    display: flex
    align-items: center
    justify-content: center
    color: $white
    font-size: 72px
    background: url("../img/banners/banner_akczii.png") no-repeat center
    background-size: cover
    margin-bottom: 25px
    .title
      font-family: Colus !important
  &--center
    &_about
      margin-bottom: 25px
      .title
        @media screen and (max-width: $tablet)
          text-align: center
      .columns
        @media screen and (max-width: $tablet)
          flex-direction: column
          align-items: center
    &_map
      width: 100%
      margin-bottom: 20px
      @media screen and (max-width: $tablet)
        display: none
      .map_container
        height: 475px
        background-image: url("../img/floors/floor_1.png")
        background-size: contain
        background-position: center
        background-repeat: no-repeat
      .floors
        width: 100%
        height: 100%
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        &_list
          li
            margin-bottom: 55px
            font-size: 18px
            cursor: pointer
            &:last-child
              margin-bottom: 0
          li.active
            font-weight: 700
            color: $black
            position: relative
            &::after
              content: ''
              display: block
              width: 34px
              height: 3px
              background-color: $black
              position: absolute
              bottom: -14px
              left: calc(50% - 17px)
    &_reasons
      margin-bottom: 50px
      @media screen and (max-width: $tablet)
        display: none
    &_advantages
      margin-bottom: 50px
      .advantages
        display: flex
        flex-wrap: wrap
        @media screen and (max-width: $mobile)
          justify-content: center
        .sale--column
          margin: 0 18px
          margin-bottom: 20px
          .title
            min-height: 40px
    &_parking
      .title
        margin: 0 auto
        margin-bottom: 150px
        width: 870px
        @media screen and (max-width: $tablet)
          width: 100%
      &--banner
        width: 100%
        .container
          height: 380px
          background-image: url("../img/banners/sale_parking_bg.png")
          background-size: 100%
          background-position: center
          background-repeat: no-repeat
          display: flex
          align-items: center
          position: relative
          margin-bottom: 100px
          @media screen and (max-width: $tablet)
            background: none
            justify-content: center
        .title
          width: 480px
          font-size: 48px
          font-weight: 700
          padding-left: 35px
          @media screen and (max-width: $tablet)
            display: none
        .form
          width: 323px
          height: 466px
          padding: 25px 20px
          background-color: $white
          box-shadow: 0 8px 53px 2px rgba(2, 3, 2, 0.24)
          position: absolute
          top: -43px
          right: -10px
          @media screen and (max-width: $tablet)
            position: unset
            width: 319px
          .title
            width: 80%
            font-size: 24px
            font-weight: 700
            line-height: 24px
            padding: 0
            margin-bottom: 10px
          .content
            width: 100%
            font-size: 14px
            font-weight: 400
            line-height: 16px
            span
              display: block
              font-weight: 700
              margin-bottom: 24px
            p
              display: block
              font-size: 18px
              margin-bottom: 24px
    &_visit
      margin-bottom: 67px
      @media screen and (max-width: $tablet)
        margin-bottom: 25px
      .title
        width: 520px
        margin: 0 auto
        margin-bottom: 65px
        @media screen and (max-width: $tablet)
          width: 100%
          margin-bottom: 25px
          font-size: 32px
      .visit_steps
        @media screen and (max-width: $tablet)
          flex-direction: column
          justify-content: center
      .sale--column
        margin: 0 auto 65px
      &--banner
        width: 100%
        @media screen and (max-width: $tablet)
          display: none
        .container
          height: 304px
          background-image: url("../img/banners/sale_visit_bg.png")
          background-size: 100%
          background-position: center
          background-repeat: no-repeat
          margin-bottom: 100px
        .title
          width: 413px
          font-size: 40px
          line-height: 40px
          font-weight: 700
          color: $white
          padding: 20px 0
          padding-left: 35px
        .button
          width: 280px
          margin-left: 35px
    &_news
      width: 970px
      margin: 0 auto
      margin-bottom: 67px
      @media screen and (max-width: $tablet)
        width: 100%
      .title
        font-weight: 700
      .news_list
        width: 100%
        display: flex
        justify-content: space-between
        @media screen and (max-width: $tablet)
          flex-direction: column
          justify-content: center
          align-items: center
        .sidebar_news--item
          width: 224px





  &--title
    font-size: 24px
    font-weight: 700
    margin-bottom: 20px
    &_big
      font-size: 48px
    &_center
      text-align: center
  &--p
    font-size: 14px
    line-height: 16px
    font-weight: 400
  &--column
    width: 250px
    .title
      width: 100%
      text-align: center
      margin-bottom: 20px
      font-size: 18px
    .image
      width: 72px
      height: 72px
      margin: 0 auto
      margin-bottom: 20px

